flask==2.3.3
flask-socketio==5.3.6
websocket-client==1.7.0
requests==2.32.3
numpy==1.26.4
python-engineio==4.7.1
python-socketio==5.9.0
gevent==23.7.0
gevent-websocket==0.10.1
grvt-pysdk==0.2.1
psycopg[binary]==3.1.18
